@import "mixin";

@font-face {
	font-family: 'GenJyuuGothic-Light';
    src: url("../font/GenJyuuGothic-Light.ttf") format("truetype");
}
@font-face {
	font-family: 'GenJyuuGothic-Bold';
    src: url("../font/GenJyuuGothic-Bold.ttf") format("truetype");
}
@font-face {
	font-family: 'GenJyuuGothic-Regular';
    src: url("../font/GenJyuuGothic-Regular.ttf") format("truetype");
}


$font-light: 'GenJyuuGothic-Light', sans-serif;
$font-bold: 'GenJyuuGothic-Bold', sans-serif;
$font-regular: 'GenJyuuGothic-Regular', sans-serif;
$font-main: $font-light;
$trans-time: .3s;

$colors: (
	purple: #b197ac,
	purple-2: #9d8bb4,
	orange: #e7aba2,
	gray: #adb5bd,
	light: #9eb0bd
);

/*
 * General style
 */
body {
	
	background-image: url("../img/bg.png");
	background-size: 100%;
	color: #fff;
	font-size: 16px;
	font-family: $font-main;
}
a:hover {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.hide {
	display: none;
}
.no-show {
	opacity: 0;
}
.loader {
    border: 6px solid #fff;
    border-top: 6px solid map-get($colors, purple);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    left: calc(50vw - 30px);
    bottom: 20vh;
    animation: spin 2s linear infinite;
    @include transition(all .2s ease-in-out);

    &.disappear {
    	@include transition(all .2s ease-in-out);
    	opacity: 0;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
 * Navbar
 */
.navbar {
	padding: 5px 40px;
	.navbar-collapse {
		.navbar-nav {
			.nav-item {
				margin: 0 13px;
				.nav-link {
					color: #fff;
					p {
						font-size: 1.4rem;
						letter-spacing: 0.3em;
						margin-bottom: -5px;
					}
					span {
						font-size: 0.8rem;
						letter-spacing: 0.4em;
					}
				}
				img {
					width: 2.7rem;
					margin-top: 0.8em;
				}
			}

			.nav-img {
				margin: 0 2px;
			}
			.nav-first-img {
				margin-left: 13px;
			}
		}
	}
}



/*
 * Block - Welcome
 */
.welcome {
	// min-height: 100vh;
	.main-block {
		margin-top: 15vh;
		margin-bottom: 15vh;
		padding: 0 50px;


		.img-block {
			height: 60vh;

			img {
				padding: 0 80px;
				height: 60vh;
			}
		}

		.text-block {
			height: 60vh;

			.v-line {
				position: absolute;
				top: 50%;
				left: 0;
				height: 0%;
				width: 8px;
				border-radius: 4px;
				background-color: #fff;
				vertical-align: middle;
				@include transition(all 1s ease-in-out);

				&.active {
					top: 0;
					height: 100%;
					@include transition(all 1s ease-in-out);
				}
			}

			.text-area {
				padding-left: 80px;
				letter-spacing: 1em;

				.text-1 {
					font-size: 1.8rem;
					margin-top: -10px;
					margin-left: -20px;
					opacity: 0;
					@include transition(all .5s ease-in-out);

					&.inview {
						margin-left: 0;
						opacity: 1;
						@include transition(all .5s ease-in-out);
					}

					p {
						display: table;
						padding-left: 0.3em;
					}
					.remark {
						background: linear-gradient(0deg, map-get($colors, purple) 60%, rgba(0,0,0,0) 50%);
					}
				}

				.text-2 {
					position: absolute;
					bottom: -15px;
					margin-left: -20px;
					opacity: 0;
					@include transition(all .5s ease-in-out);

					&.inview {
						@include transition(all .5s ease-in-out);
						margin-left: 0px;
						opacity: 1;
					}

					h1 {
						.dash {
							display: inline-block;
							margin-left: 1em;
							margin-right: 0.2em;
							@include transform(scaleX(3));
						}
					}
					p {
						font-size: 1.4rem;
						letter-spacing: 0.6em;
					}
				}
			}
		}
	}
}

.nav-color {
	color: black !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.fixed-top + .about {
	padding-top: 100px + 78px;
}

/*
 * Block - About us
 */
.about {
	padding-top: 100px;
	min-height: 110vh;
	background: #fff;
	color: #444;
	
	.wrapper {
		margin-top: 70px;
		letter-spacing: 0.3em;

		.menu {
			padding-top: 10px;
			.list {
				.list-item {
					text-decoration: none;
					font-size: 1.6rem;
					.list-a {
						color: #222;
						font-family: $font-regular;
						// @include transition(all $trans-time ease-in-out);
						// &:hover {
						// 	padding-left: 1.6rem;
						// 	@include transition(all $trans-time ease-in-out);
						// }
					}
					img {
						width: 1.8rem;
						padding-right: 5px;

						&.no-show {
							opacity: 0;
						}
					}

					& + .list-item {
						margin-top: 1em;
					}
				}
			}
		}

		.line {
			height: 65vh;
			img {
				height: 100%;
			}
		}

		.content {
			.about-1 {
				padding-top: 50px;
				padding-right: 150px;
			}

			.about-2 {
				.detail {
					paddding-right: 100px;
					.title {
						padding: 10px 0;
						margin-bottom: 40px;
						.sub-title {
							color: map-get($colors, purple);
							letter-spacing: 0.15em;
							font-size: 1.4rem;
							padding-left: 3px;
						}
					}
					.paragraph {
						font-size: 1.2rem;
					}
				}

				.photo {
					vertical-align: middle;
					img {
						width: 100%;
						height: 100%;
						& + img {
							margin-top: 10px;
						}
					}
				}
			}

			.about-3 {
				letter-spacing: 0.15em;
				height: 65vh;
				overflow: hidden;
				.info {
					.info-block {
						& + .info-block {
							margin-top: 40px;
						}
						.main-title {
							color: map-get($colors, purple-2);
							padding-left: 0.5em;
							padding-bottom: 1.5em;
							border-left: 4px solid map-get($colors, purple-2);
						}
						.sub-title {
							font-size: 1.4rem;
							color: map-get($colors, gray);
							padding-left: 3px;
							span {
								font-size: 0.8rem;
							}
						}
						.sub-title-2 {
							font-size: 1.2rem;
							color: map-get($colors, gray);
							padding-left: 3px;
						}

						.list {
							margin-left: -7px;
							font-size: 1rem;
							color: map-get($colors, gray);
							.list-dot {
								vertical-align: top;
								padding-right: 0.7em;
								img {
									width: 1em;
								}
							}
						}
					}
				}

				.map {
					margin-top: 20px;
					#map {
						height: 250px;
						width: 90%;
					}
				}
			}

			.paragraph {
				font-size: 1.4rem;
				letter-spacing: 0.15em;

				& + .paragraph {
					margin-top: 2em;
				}

				p + p {
					margin-top: -0.8em;
				}
			}
		}

		.dot {
			margin-top: 30px;
			padding: 20px 0;
			img {
				width: 22px;
			}
		}
	}

}

.video {
	height: 100vh;
	background-color: #fff;

	.video-block {
		padding-top: 15vh;

		#video {
			width: 80% !important;
		}
	}
}

/*
 * Block - Works
 */
.works {
	min-height: 100vh;
	padding-top: 80px;
	padding-bottom: 80px;
	background-image: url("../img/works-bg.jpg");
	background-size: 100% 100%;
	font-family: $font-regular;

	.box {
		height: calc(100vh - 100px);

		.title {
			margin-left: 12vw;
			margin-top: 15vh;
			img {
				width: 300px;
			}
		}
		.description {
			margin-left: 15vw;
			margin-top: 18vh;
			width: 40vw;

			p {
				font-size: 1.2rem;
				line-height: 1.5em;
			}
		}
	}

	.works-list {
		margin-top: 100px;
		width: 80%;

		.work-img {
			padding: 6px;
			img {
				width: 100%;
				height: 100%;
			}
			.desc-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include transition(all $trans-time ease-in-out);
				
				&:hover {
					background: rgba(#444, 0.8);
					@include transition(all $trans-time ease-in-out);

					.desc {
						opacity: 1;
						@include transition(all $trans-time ease-in-out);
					}
				}

				.desc {
					opacity: 0;
					@include transition(all $trans-time ease-in-out);
					padding: 7% 10%;
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
					width: 100%;
					height: 90%;

					.title {
						font-width: 900;
						font-size: 2.5rem;
					}
					.icon {
						display: inline-block;
						float: right;
						margin-right: 3px;
						padding-top: 5px;
						img {
							width: 2.5rem;
						}
					}
					.sub-title {
						margin-bottom: 0.8em;
					}
					.table-member {
						margin-bottom: 1.2em;
						.td-seperate {
							padding: 0 0.5em;
						}
					}
					.brief {
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}

		}
	}
}

.project {
	min-height: 100vh;
	padding-top: 80px + 50px;
	background-image: url("../img/projects/project_bg.jpg");
	background-size: 100% 100%;

	.project-title {
		padding: 1em 0;
		letter-spacing: 0.5em;
		h1 {
			font-size: 2rem;
			margin: 0 auto;
			padding-bottom: 6px;
			padding-left: 0.5em;
			padding-right: 0.3em;
			display: table;
			background: linear-gradient(0deg, map-get($colors, purple) 60%, rgba(0,0,0,0) 50%);

			& + h1 {
				margin-top: 0.5em;
			}
		}
	}

	.seperate {
		font-size: 2rem;
	}

	.project-brief {
		margin-top: 20px;
		width: 450px;
		font-size: 1rem;
		letter-spacing: 0.2em;
	}

	.project-item {
		width: 60%;
		margin-top: 50px;

		.item-box {
			padding: 5%;
			height: 100%;

			img {
				width: 80%;
				position: absolute;
				top: 0;
				left: 10%;
				cursor: pointer;
				@include transition(all $trans-time ease-in-out);

				&.item-before:hover {
					opacity: 0;
					@include transition(all $trans-time ease-in-out);
				}
			}

			.item-hide {
				opacity: 0;
				@include transition(all $trans-time ease-in-out);
			}

			.project-item-mask {
				position: absolute;
				width: 88%;
				height: 88%;
				top: 5%;
				left: 5%;
				// background: #fff;
				border-radius: 100%;
			}
		}
	}
}

.project-part {
	min-height: 300vh;
	background-image: url("../img/projects/content_BG.jpg");
	background-size: 100%;
	padding-top: 80px;

	.part {
		min-height: 100vh;
		padding-top: 65px;

		.block-left {
			padding-left: 120px;
			padding-right: 50px;
		}
		.block-right {
			padding-left: 50px;
			padding-right: 120px;
		}
		
		.content-block {
			.title-box {
				display: table;

				.title-line {
					width: 7px;
					background-color: #fff;
					border-radius: 7px;
					height: 4.35rem;
				}

				.title {
					padding: 0 15px;
					letter-spacing: 0.2em;
					.main-title {
						font-size: 2.8rem;
						font-family: $font-regular;
						margin-bottom: 0;
					}
					.sub-title {
						margin-bottom: 0;
					}
				}
			}

			.content {
				padding-left: 20px + 7px;
				p {
					font-size: 1.2rem;
					margin-top: 1.5em;
				}
			}
		}

		.image-block {
			img {
				width: 100%;
			}
		}
	}

	.part-2 {
		.content-block {
			.content {
				.first-paragraph {
					margin-top: 90px;
				}
			}
		}
	}

	.part-3 {
		.content-block {
			.title-box {
				position: absolute;
				top: 0;
				left: 120px;
				width: 250px;

				.title-line {
					height: 7rem;
				}
				.sub-title-2 {
					font-size: 2rem;
				}
			}
			.content {
				.first-paragraph {
					margin-top: 90px;
				}
			}
		}
	}
}

.info {
	padding-top: 80px + 50px;
	font-family: $font-regular;
	background: #fff;
	color: map-get($colors, light);
	letter-spacing: 0.5em;
	min-height: 80vh;

	.info-area {
		padding: 0;
		.seperate {
			margin: 0 auto;
			margin-top: 1.5em;
			margin-bottom: 1.2em;
			height: 3px;
			width: 4.7rem;
			background-color: map-get($colors, light);
		}
		.info-title {
			& ~ .info-title {
				margin-top: 50px;
			}
		}
		.img-organizer {
			width: 70%;
		}
		.img-sponsor {
			width: 100%;
		}
		.img-teacher{
			width: 100%;
		}

		.member {
			letter-spacing: 0.2em;
			padding-right: 60px;
			font-size: 0.9rem;
			.member-table-2 {
				width: 100%;
			}
		}
	}
}

.footer {
	min-height: 20vh;
	background-color: map-get($colors, light);
	font-family: $font-regular;
	letter-spacing: 0.15em;

	.footer-area {
		padding-bottom: 30px;
		padding-top: 50px;
		p {
			font-size: 1.2rem;
			& + p {
				margin-top: -12px;
			}
		}
	}

	.footer-icon {
		padding-top: 50px;
		img {
			width: 3rem;
		}
	}
}










