@import "mixin";

@font-face {
	font-family: 'GenJyuuGothic-Light';
    src: url("../font/GenJyuuGothic-Light.ttf") format("truetype");
}
@font-face {
	font-family: 'GenJyuuGothic-Bold';
    src: url("../font/GenJyuuGothic-Bold.ttf") format("truetype");
}
@font-face {
	font-family: 'GenJyuuGothic-Regular';
    src: url("../font/GenJyuuGothic-Regular.ttf") format("truetype");
}


$font-light: 'GenJyuuGothic-Light', sans-serif;
$font-bold: 'GenJyuuGothic-Bold', sans-serif;
$font-regular: 'GenJyuuGothic-Regular', sans-serif;
$font-main: $font-light;
$trans-time: .3s;

$colors: (
	purple: #b197ac,
	purple-2: #9d8bb4,
	orange: #e7aba2,
	gray: #adb5bd
);

/*
 * General style
 */
body {
	// background-image: url("../img/bg.jpg");
	background-size: 100%;
	background: #444;
	color: #fff;
	font-size: 16px;
	font-family: $font-main;
}
a:hover {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.hide {
	display: none;
}

/*
 * Navbar
 */
.navbar {
	padding: 5px 40px;
	.navbar-collapse {
		.navbar-nav {
			.nav-item {
				margin: 0 13px;
				.nav-link {
					color: #fff;
					p {
						font-size: 1.4rem;
						letter-spacing: 0.3em;
						margin-bottom: -5px;
					}
					span {
						font-size: 0.8rem;
						letter-spacing: 0.4em;
					}
				}
				img {
					width: 2.7rem;
					margin-top: 0.8em;
				}
			}

			.nav-img {
				margin: 0 2px;
			}
			.nav-first-img {
				margin-left: 13px;
			}
		}
	}
}



/*
 * Block - Welcome
 */
.welcome {
	// min-height: 100vh;
	.main-block {
		margin-top: 15vh;
		margin-bottom: 15vh;
		padding: 0 50px;


		.img-block {
			height: 60vh;

			img {
				padding: 0 80px;
				width: 100%;
			}
		}

		.text-block {
			height: 60vh;

			.v-line {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 8px;
				border-radius: 4px;
				background-color: #fff;
			}

			.text-area {
				padding-left: 80px;
				letter-spacing: 1em;

				.text-1 {
					font-size: 1.8rem;
					margin-top: -10px;

					p {
						display: table;
						padding-left: 0.3em;
					}
					.remark {
						background: linear-gradient(0deg, map-get($colors, purple) 60%, rgba(0,0,0,0) 50%);
					}
				}

				.text-2 {
					position: absolute;
					bottom: -15px;
					h1 {
						.dash {
							display: inline-block;
							margin-left: 1em;
							margin-right: 0.2em;
							@include transform(scaleX(3));
						}
					}
					p {
						font-size: 1.4rem;
						letter-spacing: 0.6em;
					}
				}
			}
		}
	}
}

.nav-color {
	color: black !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.fixed-top + .about {
	padding-top: 100px + 78px;
}

/*
 * Block - About us
 */
.about {
	padding-top: 100px;
	min-height: 110vh;
	background: #fff;
	color: #444;
	
	.wrapper {
		margin-top: 70px;
		letter-spacing: 0.3em;

		.menu {
			padding-top: 10px;
			.list {
				.list-item {
					text-decoration: none;
					font-size: 1.6rem;
					.list-a {
						color: #222;
					}

					& + .list-item {
						margin-top: 1em;
					}
				}
			}
		}

		.line {
			height: 65vh;
			img {
				height: 100%;
			}
		}

		.content {
			.about-1 {
				padding-top: 50px;
				padding-right: 150px;
			}

			.about-2 {
				.detail {
					paddding-right: 100px;
					.title {
						padding: 10px 0;
						margin-bottom: 40px;
						.sub-title {
							color: map-get($colors, purple);
							letter-spacing: 0.15em;
							font-size: 1.4rem;
							padding-left: 3px;
						}
					}
					.paragraph {
						font-size: 1.2rem;
					}
				}

				.photo {
					vertical-align: middle;
					img {
						width: 100%;
						height: 100%;
						& + img {
							margin-top: 10px;
						}
					}
				}
			}

			.about-3 {
				letter-spacing: 0.15em;
				height: 65vh;
				overflow: hidden;
				.info {
					.info-block {
						& + .info-block {
							margin-top: 40px;
						}
						.main-title {
							color: map-get($colors, purple-2);
							padding-left: 0.5em;
							padding-bottom: 1.5em;
							border-left: 4px solid map-get($colors, purple-2);
						}
						.sub-title {
							font-size: 1.4rem;
							color: map-get($colors, gray);
							padding-left: 3px;
							span {
								font-size: 0.8rem;
							}
						}
						.sub-title-2 {
							font-size: 1.2rem;
							color: map-get($colors, gray);
							padding-left: 3px;
						}

						.list {
							margin-left: -7px;
							font-size: 1rem;
							color: map-get($colors, gray);
							.list-dot {
								vertical-align: top;
								padding-right: 0.7em;
								img {
									width: 1em;
								}
							}
						}
					}
				}

				.map {
					margin-top: 20px;
					#map {
						height: 250px;
						width: 90%;
					}
				}
			}

			.paragraph {
				font-size: 1.4rem;
				letter-spacing: 0.15em;

				& + .paragraph {
					margin-top: 2em;
				}

				p + p {
					margin-top: -0.8em;
				}
			}
		}

		.dot {
			margin-top: 30px;
			padding: 20px 0;
			img {
				width: 22px;
			}
		}
	}

}

/*
 * Block - Works
 */
.works {
	min-height: 100vh;
	padding-top: 80px;
	padding-bottom: 80px;
	background-image: url("../img/works-bg.jpg");
	background-size: 100% 100%;
	font-family: $font-regular;

	.box {
		height: calc(100vh - 100px);
		border: 1px solid #444;

		.title {
			margin-left: 12vw;
			margin-top: 15vh;
			img {
				width: 300px;
			}
		}
		.description {
			margin-left: 15vw;
			margin-top: 18vh;
			width: 40vw;

			p {
				font-size: 1.2rem;
				line-height: 1.5em;
			}
		}
	}

	.works-list {
		margin-top: 100px;
		width: 80%;

		.work-img {
			padding: 6px;
			img {
				width: 100%;
				height: 100%;
			}
			.desc-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include transition(all $trans-time ease-in-out);
				
				&:hover {
					background: rgba(#444, 0.8);
					@include transition(all $trans-time ease-in-out);

					.desc {
						opacity: 1;
						@include transition(all $trans-time ease-in-out);
					}
				}

				.desc {
					opacity: 0;
					@include transition(all $trans-time ease-in-out);
					padding: 7% 10%;
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
					width: 100%;
					height: 90%;

					.title {
						font-width: 900;
						font-size: 2.5rem;
					}
					.icon {
						display: inline-block;
						float: right;
						margin-right: 3px;
						padding-top: 5px;
						img {
							width: 2.5rem;
						}
					}
					.sub-title {
						margin-bottom: 0.8em;
					}
					.table-member {
						margin-bottom: 1.2em;
						.td-seperate {
							padding: 0 0.5em;
						}
					}
					.brief {
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}

		}
	}
}










